/* Google font */

@import url("https://fonts.googleapis.com/css2?family=Almarai:wght@400;700;800&display=swap");
body {
    font-family: "Almarai", sans-serif;
    padding-top: 40px;
    padding-bottom: 40px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Almarai", sans-serif;
    font-weight: 800;
}


/* Text */

.gradient-text {
    /* Fallback: Set a background color. */
    background-color: red;
    /* Create the gradient. */
    background-image: linear-gradient(45deg, #fbd509 0%, #f94304 100%);
    /* Set the background size and repeat properties. */
    background-size: 100%;
    background-repeat: repeat;
    /* Use the text as a mask for the background. */
    /* This will show the gradient as a text color rather than element bg. */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}